@model zavrsni.Models.HomeContentModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 280, "itemSelector": ".item" }'>
        @foreach (Content c in Model.contents)
        {
            <div class="col-md-4 col-sm-6 item">
                <div class="thumbnail content" style="padding: 2px 2px 2px 2px !important;">
                    <div class="caption" style="padding: 3px 3px 3px 3px !important;">
                        <h2>@c.Title</h2>
                        @Html.Raw(c.Text)
                        <p style="margin-top: 15px;">@c.ContentType.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<a href="@Url.Action("Insert", "Content")"><span class="btn btn-primary btn-circle btn-lg glyphicon glyphicon-plus" style="position: fixed; top: 90%; right: 20px;"></span></a>